body {
  background-color: #01A9DB;
  font-family: Verdana;

  .container {
    background-color: #ffffff;
    height: auto;
    margin: 30px 50px;
    padding: 10px;
  }

  .container.menu {
    margin-bottom: 0;
    margin-top: 20px;

    .menu-title {
      display: inline-block;
    }

    nav {
      display: inline-block;

      a {
        margin-left: 20px;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .container {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .alert {
    width: 81%;
    height: auto;

    .error {
      background-color: #ff4d4d;
      border: 1px solid #ff0000;
    }

    .success {
      background-color: #70db70;
      border: 1px solid #248f24;
    }

    p {
      padding: 7px;
    }
  }
}

form.search-form {
  float: right;
  margin-top: 7px;

  * {
    display: inline-block;
  }

  label {
    width: auto;
  }

  input {
    width: auto;
  }

  input[type="submit"] {
    margin-top: auto;
  }
}