table {
  border: 1px solid #111111;
  width: 100%;

  th {
    text-align: left;
  }
}

form {
  * {
    display: block;
  }

  label {
    font-weight:bold;
    color: #111111;
    margin-top: 10px;
    margin-bottom: 7px;
  }

  input, textarea {
    margin-left: 10px;
    border: 1px solid #010101;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 80%;
    padding: 5px;
  }

  textarea {
    min-height: 100px;
    min-width: 80%;
    max-width: 80%;
  }

  input[type=submit] {
    margin-left: 0;
    margin-top: 20px;
    width: auto;
  }
}

.product-details {
  .details-block {
    border-bottom: 1px solid #ededed;

    .label {
      font-size:1.1em;
      font-weight:bold;
    }

    .data {
      margin-left:10px;
    }
  }

  .details-block:last-child {
    border-bottom: none;
  }
}